<!--script src="../deps/webcomponentsjs/webcomponents.js"></script-->

 <link rel="import" href="../deps/core-list/core-list.html">

<polymer-element name="album-detail" attributes="album">
  <template>
    <style>
    img.blur {
    width: 100%;
    /*  height: 100%;*/
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
#details {
    /*200pxpadding: 10px 10% 0;*/
    width: 740px;
    margin: auto;
    height: 100%;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.6);
}

.mycard {
    height: 540px;
    border-radius: 3px;
    text-align: start;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-left {
    width: 200px;
    height: 200px;
    float: left;
    background-size: 100%;
}
.card-right {
    float: left;
    padding: 0px;
    width: 540px;
}
.card-title {
    height: 137px;
    background: #0ff;
    position: relative;
}
.card-info {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.card-album-title {
    font-size: 2em;
}
.card-album-artist,
.card-album-title {
    width: 100%;
    text-align: center;
}
.card-buttons {
    height: 62px;
    background: #f000ff;
    width: 100%;
    float: left;
}
.card-player-button {
    width: 32%;
    height: 100%
}
    </style>
    <img  ng-src="{{album.albumArt}}" class="blur">
        <section id="details" class="details" >
            <div class="mycard " layout horizontal>
                <div class="card-left " ng-click="transition() " style="background-image: url({{album.albumArt}});background-size: 100%;float:left; ">

                </div>

                <div class="card-right " style="float:left;" ng-style="{'border-bottom':'1px double {{color}}'}">
                    <div class="card-title" ng-style="{'background-color':'{{color}}'}">
                        <div class="card-info" ng-style="{'color':'{{textColor}}'}">
                            <div class="card-album-title ">{{album.title}}</div>
                            <div class="card-album-artist ">{{album.artist}}</div>
                        </div>
                    </div>
                    <div class="card-buttons" style="float:left;" ng-style="{'background-color':'{{deeperColor}}'}">
                        <a ng-style="{'color':'{{textColor}}'}" class="card-player-button button button-icon icon ion-ios7-rewind"></a>
                        <a ng-style="{'color':'{{textColor}}'}" class="card-player-button button button-icon icon ion-ios7-pause"></a>
                        <a ng-style="{'color':'{{textColor}}'}" class="card-player-button button button-icon icon ion-ios7-fastforward"></a>
                    </div>
                </div>
                <!--ion-list>
                        <ion-item class="card-pistes " ng-repeat="piste in pistes">

                            <div style="height:48px;">
                                <span style="float:left;height:100%">{{piste.originalTrackNumber}}</span><span style="float:right;height:100%">{{piste.res[0].duration}}</span><span style="margin:0 auto;height:100%;width:100%">{{piste.title}}</span>

                            </div>
                        </ion-item>
                    </ion-list-->
              <core-list id="list" data="{{liste}}" height="48" style="height:250px;width:100%" >
               <template>
                  <div class="card-pistes" style="padding-top:0px;padding-bottom:0px;" >
                          <span style="float:left;height:100%">{{model.originalTrackNumber}}</span><span style="float:right;height:100%">{{model.duration}}</span><span style="margin:0 auto;height:100%;width:100%">{{model.title}}</span>
                  </div>
                </template>
              </core-list>

            </div>

        </section>
<!--/div-->
  </template>
  <script>
    Polymer({
liste:[],
       created: function() {  console.log(this.album); },
  ready: function() {   console.log(this.album); },
  attached: function () {   console.log(this.album); },
  domReady: function() {   console.log(this.album); },
  detached: function() {   console.log(this.album); },

  albumChanged: function(old, newVal) {
    this.album=newVal;

    this.liste=this.album.pistes;
    //var newVal = this.getAttribute(attrName);
    console.log( 'old: ' , old, 'new:', newVal);
  }

    });
  </script>
</polymer-element>
